[tools]
elixir = "1.19.5"
gleam = "1.13.0"
node = "24"
npm = "11"

[tasks.help]
description = "display help"
run = '''cat << EOF
To run this project, you need to install the dependencies:

1. install mise 

See https://mise.jdx.dev for install instructions, but generally, brew should work:

	> brew install mise
	> mise --help

2. clone the surtoget repository and cd into it

3. examine the available tasks

	> mise tasks

4. the common useage is

	> mise run

5. the detailed useage is

	> mise help 	// displays this message
	> mise tasks 	// displays the tasks in this mise.toml file
	> mise deps	// installs this projects dependencies
	> mise css	// generate the tailwind css
	> mise format	// gleam format's this projects gleam source code
	> mise run	// gleam run's this project 

That said, 'mise run' is what you will run most of the time.

EOF
'''

[tasks.deps]
description = "install npm dependencies"
run = "npm install"
sources = ["package.json"]
outputs = ["node_modules", "package-lock.json"]

[tasks.css]
description = "generate css"
depends = ["deps"]
run = "npx tailwindcss -o ./priv/css/tailwind.css && gzip -k -f ./priv/css/tailwind.css"
sources = ["src"]
outputs = ["priv/css"]

[tasks.format]
description = "gleam format"
depends = ["deps"]
run = "gleam format"

[tasks.run]
description = "gleam run"
depends = ["deps", "format", "css"]
run = "gleam run"
